$padding-lg: 20px;
$padding-md: 15px;
$padding-sm: 10px;

$margin-lg: 15px;
$margin-md: 10px;
$margin-sm: 5px;

:root[theme="light"] {
  --celestial: url("@/assets/moon-light.svg");
  --mountains: url("@/assets/mountains.svg");

  --primary-text: #363635;
  --sky-color: #B0D0D3;
}

:root[theme="dark"] {
  --celestial: url("@/assets/moon-dark.webp");
  --mountains: url("@/assets/mountains-dark.svg");

  --primary-text: #fff;
  --card-primary-background: #444444;
  --sky-color: #18314F;
  --navbar-primary-background: #303030;
}

:root {
  --linkedin: url("@/assets/linkedin.svg");
  --font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

// Size variables used to define breakpoints throughout the site.
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;